.sidenav {
    padding: 10px 5px 15px 15px;
    background-color: rgb(16, 57, 190);
    color: #fff;
    max-width: 200px;
    min-height: 800px;
    a {
        display: block;
    }
}

.sidenav {
    
}